In [182]:
import requests
import pandas as pd
import json

In [207]:
datos = {
    'Age': float(30),
    'BusinessTravel': str('Travel_Rarely'),
    'Department': str('Sales'),
    'DistanceFromHome': float(1),
    'Education': str('Below College'),
    'EducationField': str('Life Sciences'),
    'Gender': str('Female'),
    'JobLevel': str(1),
    'JobRole': str('Healthcare Representative'),
    'MaritalStatus': str('Married'),
    'MonthlyIncome': float(300000),
    'NumCompaniesWorked': float(1),
    'PercentSalaryHike': float(11),
    'StockOptionLevel': str(0),
    'TotalWorkingYears': float(1),
    'TrainingTimesLastYear': str(1),
    'YearsAtCompany': float(1),
    'YearsSinceLastPromotion': float(1),
    'YearsWithCurrManager': float(1),
    'EnvironmentSatisfaction': str(1),
    'JobSatisfaction': str(1),
    'WorkLifeBalance': str(1),
    'JobInvolvement': str(1),
    'PerformanceRating': str(3),
}

In [208]:
df_consulta = pd.DataFrame(datos, index=[0])
json_consulta = json.dumps(df_consulta.iloc[0].to_dict())

In [209]:
res = requests.post("http://127.0.0.1:5000/predict", json= datos)

In [211]:
res.json()

{'attrition_risk': 'No', 'probability': 0.0}

In [199]:
import pandas as pd
import pickle

# Cargar los archivos pickle (encoder, scaler y modelo)
with open('../transformers/encoder.pkl', 'rb') as file:
    encoder = pickle.load(file)
    print("Encoder cargado correctamente.")

with open('../transformers/scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)
    print("Scaler cargado correctamente.")

with open('../transformers/model.pkl', 'rb') as file:
    model = pickle.load(file)
    print("Modelo cargado correctamente.")

df = pd.DataFrame([datos])
df

Encoder cargado correctamente.
Scaler cargado correctamente.
Modelo cargado correctamente.

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,30.0,Travel_Rarely,Sales,1.0,Below College,Life Sciences,Female,1,Healthcare Representative,Married,...,1.0,1,1.0,1.0,1.0,1,1,1,1,3

In [200]:
df['Attrition'] = 0  # valor temporal para el encoding
df_encoded = encoder.transform(df)
df_encoded.drop(columns='Attrition', inplace= True)

In [201]:
df_encoded

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,30.0,0.145815,0.147368,1.0,0.159847,0.164869,0.15235,0.147766,0.144828,0.117483,...,1.0,0.146667,1.0,1.0,1.0,0.159847,0.159847,0.159847,0.215909,0.156863

In [202]:
col_num=['Age', 'DistanceFromHome', 'MonthlyIncome', 'NumCompaniesWorked',
    'PercentSalaryHike', 'TotalWorkingYears', 'YearsAtCompany',
    'YearsSinceLastPromotion', 'YearsWithCurrManager']
df_encoded[col_num] = scaler.transform(df_encoded[col_num])

df_encoded

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,-0.747889,0.145815,0.147368,-1.003804,0.159847,0.164869,0.15235,0.147766,0.144828,0.117483,...,-1.339221,0.146667,-1.002783,-0.361313,-0.870216,0.159847,0.159847,0.159847,0.215909,0.156863